<footer class="text-center">
    <hr />
    <p style="font-weight: 200; font-size: .8em;">
        Made 
        <strong style="font-weight: 700;">
            with <i class="fas fa-star" style="color: #e8d747;"></i>
            <span style="color: #73e48d;">
                #28
            </span>
        </strong>
    </p>
</footer>