<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
            <div class="jumbotron shadow p-5 mb-5 bg-white rounded mt-5 mb-5">
                <h3 class="mb-4"><%- text %></h3>
                <form method="POST">
                    <div class="form-group">
                        <input class="form-control" name="email" placeholder="e-mail">
                        <br>
                        <input class="form-control" name="password" type="password" placeholder="password">
                    </div>
                    <button class="btn btn-outline-primary mt-3">sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
